.btn {
    margin-right: 10px;
}

.details {

    border: 1px solid #f0f0f0;
    padding: 15px;
}

.details p {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.currentRecipe__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    font-size: 32px;
    color: #000;
}

.currentRecipe__img img {
    max-width: 100%;
}

.currentRecipe__img {
    margin-bottom: 20px;
}

.currentRecipe__name {
    font-size: 24px;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe__descr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px;
}

.dropdown-menu a {
    cursor: pointer;
}

.btn-group {
    width: 100%;
    margin-bottom: 20px;
}

.btn-group>button {
    background-color: #8c8c8c;
    color: #fff;
    width: 100%;
}

.open>.dropdown-menu {
    width: 100%;
}