<div class="details">      

    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
     
    <div class="currentRecipe">
        <p class="currentRecipe__name"> {{ recipe.name }}</p>

        <div class="currentRecipe__img">
            <img src="{{ recipe.imgPath }}" alt="{{ recipe.name }}">
        </div>

        <p class="currentRecipe__name">Опис:</p>
        <p class="currentRecipe__descr">{{ recipe.description }}</p>
    </div>

    <!-- <app-shopping-list [ingredients]="currentRecipe.ingredients"></app-shopping-list> -->


</div>
