<div class="details">      

    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
     
    <div class="currentRecipe">
        <p class="currentRecipe__name"> {{ recipe.name }}</p>

        <div class="currentRecipe__img">
            <img src="{{ recipe.imgPath }}" alt="{{ recipe.name }}">
        </div>

        <p class="currentRecipe__name">Опис:</p>
        <p class="currentRecipe__descr">{{ recipe.description }}</p>

        <div class="ingridients">
            <h3>Інгредієнти:</h3>
            <p *ngFor='let ingredient of recipe.ingredients'>
                <strong>Name</strong> {{ingredient.name}} / 
                <strong>Amount:</strong> {{ingredient.amount}}
            </p>
        </div>

    </div>

    


</div>
