.recipe {
    text-align: center;
}
.recipe img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    max-height: 120px;
    border-radius: 5px;
}

.recipes {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}

.recipe {
    width: calc(100%/3 - 10px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    list-style-type: none;
    border-radius: 5px;
    transition: all 0.5s linear;
    margin-right: 10px;
}

.recipe a, .recipe a:hover {
    text-decoration: none;
}

.recipe:nth-child(3n) {
    margin-right: 0;
}

.recipe__body {
    text-align: left;
    padding-top: 10px;
    display: block;
    text-decoration: none;
    color: #000;
}

.recipe:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.5s linear;
}

.recipe__name {
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe__descr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 400;
}

.add {
    margin-bottom: 30px;
}