<ul class="recipes" *ngIf="recipes.length; else info">
  <li class="recipe" *ngFor="let recipe of recipes;  let i = index">
      <a routerLink="/recipes/{{ i }}" >
        <img src="{{recipe.imgPath}}" alt="{{ recipe.name }}">
        <div class="recipe__body">
            <p class="recipe__name">{{ recipe.name }}</p>
            <p class="recipe__descr">{{ recipe.description }}</p>
        </div>
      </a>

  </li>
</ul>

<ng-template #info>
    <h3>
        No recipes!
    </h3>
</ng-template>