<div class="row">
    <div class="col col-xs-12 col-md-6 col-md-offset-3">
  
        <h3>Додати новий рецепт</h3>
        
      <form novalidate [formGroup]="recipeForm">
  
        <div class="form-group">
          <label>Назва рецепту</label>
          <input type="text" class="form-control" name="name" formControlName="name" >
          <div class="alert alert-danger" *ngIf="recipeForm.controls['name'].invalid && recipeForm.controls['name'].touched">
            Необхідно заповнити
          </div>
        </div>
  
        <div class="form-group">
          <label>Опис</label>
          <input type="text" class="form-control" name="description" formControlName="description">
          <div class="alert alert-danger" *ngIf="recipeForm.controls['description'].invalid && recipeForm.controls['description'].touched">
            Необхідно заповнити
          </div>
        </div>
  
        <div class="form-group">
          <label>Картинка</label>
          <input type="text" class="form-control" name="imgPath" formControlName="imgPath">
          <div class="alert alert-danger" *ngIf="recipeForm.controls['imgPath'].invalid && recipeForm.controls['imgPath'].touched">
            Необхідно заповнити
          </div>
        </div>
        
        <div class="form-group">
            <label>Інгредіенти:</label>
            <ul *ngIf="ingredients.length; else info" class="ingredients">
                <li *ngFor="let item of ingredients">
                    <button (click)="removeIngredient(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <strong>Назва:</strong> {{item.name}} /
                    <strong>к-сть:</strong> {{item.amount}}
                </li>
            </ul>
            <ng-template #info>
                <p>Інгредієнти відсутні</p>
            </ng-template>
          </div>
  
          <div class="form-group add-ingredients">
              <label>Додати інгредіент:</label>
              <div class="row">
                  <div class="col-xs-7">
                      <input type="text" class="form-control" #ingrName name="nameIngredient" placeholder="Назва" formControlName="nameIngredient">
                      <div class="alert alert-danger" *ngIf="recipeForm.controls['nameIngredient'].invalid && recipeForm.controls['nameIngredient'].touched">
                        Необхідно заповнити
                      </div>
                    </div>
                  <div class="col-xs-3">
                      <input type="text" class="form-control" #ingrAmount name="amount" placeholder="Кількість" formControlName="amount">
                      <div class="alert alert-danger" *ngIf="recipeForm.controls['amount'].invalid && recipeForm.controls['amount'].touched">
                        Невірно введені дані
                      </div>
                    </div>
                  <div class="col-xs-2">              
                    <button class="btn btn-default" [disabled]="recipeForm.invalid" (click)="addIngredient(ingrName, ingrAmount)">Додати</button>
                  </div>
              </div>
            </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid" (click)="addRecipe()">Додати</button>
      </form>
  
  
    </div>
  </div>
  